version: "3.9"

services:

  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: frontend
    restart: always
    ports:
      - "3000:4173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data: